$primary_color: #051721;
$secondary_color: white;
$third_color: #2d383e;

* {
  padding: 0;
  margin: 0;
  font-family: "Teachers", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
h3 {
  font-family: "Pacifico", cursive;
  text-align: center;
}

//header
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    
    
  .container {
    
    
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    align-items: center;

    a {
      text-decoration: none;
      color: $primary_color;
    }
    .logo {
      font-weight: 900;
      font-size: large;
    }
    .nav {
      a {
        margin: 0 15px;
      }
      button {
        border: none;
        background-color: white;
      }
    }
  }
}

// About us
.aboutUs {
   margin-top: 100px;
  .container {
    .left {
      button {
        padding: 20px 50px;
        border: solid 0;
        border-radius: 50px;
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.9);
        background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
        background-size: 600%;
        animation: anime 16s linear infinite;
        font-size: 18px;
        font-weight: 600;

        a {
          text-decoration: none;
          color: $secondary_color;
          margin: 0 15px;
          i {
            font-size: 20px;
          }
        }
      }
    }
  }
}

// Products
.products {
  .animated-button{
    border: 0 solid;
    background-color: #ffa63d;
    padding: 15px 20px;
    border-radius: 50%;
    &:hover{
      background-color: #f65617;
      color: white;
    }
  }
  .bot {
    button {
      margin-right: auto;
      padding: 10px 20px;
      border: solid 0;
      border-radius: 10px;
      margin-top: 20px;
      color: rgba(255, 255, 255, 0.9);
      background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
      background-size: 600%;
      animation: anime 16s linear infinite;
      font-size: 18px;
      font-weight: 600;
      i{
        margin-right: 20px;
      }
    }
    p{
        font-size: 20px;
        font-weight: 600;
        position: relative;
        top: 30px;
       
        
    }
  }
}

// Contact
.contact{
  .container{
    .left{
      background-color: rgba(250, 235, 215, 0.508);
      position: relative;
      bottom: 80px;
    }
    .right{
      button{
        border: solid 0 ;
        padding: 15px 50px;
        background-color: #ffa63d;
        font-weight: 200;
        transition: 0.3s;
        &:hover{
          background-color: #f65617;
        }
        
        
      }
    }
  }
}

// Footer

.footer{
  background-color: $primary_color;
  color: white;
  height: 200px;
  h6, p, .link{
    position: relative;
    
  }
  h6{
    top:50px;
  }
  p{
    top: 70px;
  }
  .link{
    top: 70px;
    bottom: 20px;
    a{
      text-decoration: none;
      color: white;
      margin: 0 20px;
    }
  }


}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
